<h1>
  Add Product

  </h1>



<label>Product Name:</label>     <input [(ngModel)]="name" type="text"> <br /><br />
  <label>Quantity:</label> <input [(ngModel)]="quantity" type="number"> <br /><br />
  
    <label>All Price: </label><input [(ngModel)]="AllPrice" type="number" > <br /><br />
      <input type="submit" (click)="addProduct()" value="Add Product" class="form-control"  />

      <br>
      <br>

      <br>


 
<table>
  <thead id="thead">
    <th>Product name</th>
    <th>Quantity</th>
    <th>All Price</th>
  </thead>
  

  <tr *ngFor="let obj of allProducts " >
    <td>{{obj.name}}</td>
    <td>{{obj.quantity}}</td>
    <td>{{obj.AllPrice}}</td>
  </tr> 
     
 
</table>



